*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
}
img{
  margin: 40px;
  max-height: 550px;
  max-width: 550px;
  
 
  
}
h1{
  text-align: center;
  background: palevioletred;
  color: white;
  height: 70px;
  line-height: 60px;

}
.body{
  text-align: center;
}
.modal {
  background-color: rgba(0, 0, 0, 0.109);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  border-radius: 8px;
  height: 80%;
  width: 80%;
  animation: modalSlide 2000ms ;
  border: 8px double black;
}

@keyframes modalSlide {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;
  }
}
.buttonfetch {
  position: relative;
  margin: 100px;
  height: 30px;
  width: 90px;
  border: 1px solid black;
  border-radius: 6px;

}
.buttonmodal {
  position: absolute;
  margin-top: 0px;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 6px;
  margin-top: 10px;
  left: 10px;
  background: transparent;
}