*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
}
img{
  height: 250px;
  width: 250px;
  padding: 20px;
}
h1{
  text-align: center;
}